<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<body ng-app="myApp">

	<div ng-controller="myctrl">
	<h1>Select Country</h1>
	
	
	
	<input type="checkbox" ng-model="chkbox">USA
		</td> <input type="checkbox" ng-model="chkbox1">INDIA
		</td> <span ng-bind="rolno"></span>

		<ol ng-show="chkbox">
			<h4> In American Currency</h4>
			{{country.fees |currency}}<br/>
		</ol>
		<br />



		<ol ng-show="chkbox1">
			<h4>In Indian Currency</h4>
			{{country.fees |currency:"INR"}}
		</ol>


	
	</div>
	<script type="text/javascript" src="../JS/angular.min.js"></script>
	<script type="text/javascript" src="../Controller/controller.js"></script>

</body>
</html>