<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="myApp">

	<div ng-controller="myctrl">
		<h2>Hello Hi{{chirag.title}}</h2>
		<p>
			First Name:-<input type="text" ng-model="student.firstname">
		</p>
		<br />

		<p>
			Last Name:-<input type="text" ng-model="student.lastname">
		</p>
		<p>
			Roll No:-<input type="text" ng-model="student.rollno">
		</p>
		<input type="checkbox" ng-model="chkbox">Select For List in
		Ascending Order
		</td> <input type="checkbox" ng-model="chkbox1">Select For List in
		Descending Order
		</td> <span ng-bind="rolno"></span>

		<ol ng-show="chkbox">
			<h4>List in Ascending Order</h4>
			<li ng-repeat="marks in studentmarks |orderBy:'rollno'">
				{{marks.firstname}} {{marks.rollno}}</li>
		</ol>
		<br />



		<ol ng-show="chkbox1">
			<h4>List in Descending Order</h4>
			<li ng-repeat="marks in studentmarks |orderBy:'-rollno'">
				{{marks.firstname}} {{marks.rollno}}</li>
		</ol>




	</div>
	<script type="text/javascript" src="../JS/angular.min.js"></script>
	<script type="text/javascript" src="../Controller/controller.js"></script>

</body>
</html>